.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TextBox.css */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem; /* Adjust the gap between buttons */
}

.btn {
  flex: 1;
  min-width: 100px; /* Minimum width for buttons */
}

/* Optional: Make buttons stack vertically on very small screens */
@media (max-width: 576px) {
  .button-group {
    flex-direction: column;
  }

  .btn {
    width: 100%; /* Full width on small screens */
    margin-bottom: 0.5rem; /* Space between buttons */
  }
}

